openapi: 3.0.3
info:
  title: Career Agent API
  description: A centralized crowdsourcing API for an open-source job scraping tool
    featuring a Give-to-Get credit economy.
  version: 1.0.0
servers:
- url: https://api.careeragent.fyi
  description: Live community instance
- url: http://localhost:3000
  description: Local Development Server
components:
  schemas:
    JobInput:
      type: object
      required:
      - company
      - title
      - url
      description: Entries missing company, title, or url are silently skipped (see
        invalid_skipped in the push response); location is optional.
      properties:
        company:
          type: string
          example: TechCorp
        title:
          type: string
          example: Software Engineer
        location:
          type: string
          example: Remote
        url:
          type: string
          example: https://techcorp.com/jobs/1
    JobOutput:
      type: object
      properties:
        id:
          type: string
          format: uuid
        company:
          type: string
        title:
          type: string
        location:
          type: string
        url:
          type: string
        created_at:
          type: string
          format: date-time
paths:
  /:
    get:
      summary: Root
      description: "Unauthenticated. Basic API metadata and links \u2014 not part\
        \ of the versioned API surface."
      responses:
        '200':
          description: API metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    example: CareerAgent API
                  version:
                    type: string
                    description: The deployed image's git commit hash, or "unknown".
                  docs:
                    type: string
                  repo:
                    type: string
                  health:
                    type: string
                    example: /health
  /v1/jobs/push:
    post:
      summary: Push Scraped Jobs
      description: 'Upload newly scraped jobs to the database. Earns 1 API credit
        per unique job successfully inserted, up to a daily cap of 500 earned credits
        per user. Entries whose `url` is not a valid http(s) URL, or whose fields
        exceed the length limits, are skipped rather than failing the batch. Maximum
        1000 jobs per request.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jobs
              properties:
                jobs:
                  type: array
                  items:
                    $ref: '#/components/schemas/JobInput'
                  maxItems: 1000
      responses:
        '200':
          description: Jobs processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Pushed 5 jobs.
                  credits_earned:
                    type: integer
                    description: Credits actually awarded (may be less than jobs_accepted
                      if the daily cap was hit).
                    example: 5
                  jobs_accepted:
                    type: integer
                    description: Unique jobs actually stored from this request.
                    example: 5
                  invalid_skipped:
                    type: integer
                    description: Number of submitted entries skipped for missing/invalid
                      fields or an invalid URL.
                    example: 0
                  failed:
                    type: integer
                    description: Number of entries that could not be inserted due
                      to an unexpected database error.
                    example: 0
                  warning:
                    type: string
                    description: Present when the daily push credit cap was reached.
        '400':
          description: Invalid payload or malformed JSON body
        '401':
          description: Unauthorized (Missing or Invalid JWT)
        '413':
          description: Payload Too Large (Exceeds 1000 jobs)
        '429':
          description: Too Many Requests (rate limited)
  /v1/jobs/pull:
    get:
      summary: Pull Jobs
      description: "Consume jobs from the database. Deducts 1 API credit per job.\
        \ Falls back to a strict daily quota (50 jobs/day) if credits are 0. Each\
        \ user is only ever served a given job once \u2014 already-pulled jobs are\
        \ excluded from future pulls. Jobs older than 60 days are excluded by default\
        \ (soft staleness \u2014 see include_stale)."
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of jobs to return.
      - in: query
        name: include_stale
        schema:
          type: string
          enum:
          - 'true'
        description: Include jobs older than 60 days, which are excluded by default.
      responses:
        '200':
          description: Jobs retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  warning:
                    type: string
                    description: Warning message if the requested limit was capped.
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobOutput'
                  deducted:
                    type: integer
                    description: Number of credits deducted from balance.
                  quota_used:
                    type: integer
                    description: Number of free quota jobs used if user has 0 credits.
                  has_more:
                    type: boolean
                    description: "Whether at least one more unconsumed, unflagged\
                      \ job existed beyond this batch at query time \u2014 a hint\
                      \ for whether it's worth calling again, not a hard guarantee\
                      \ (the pool is shared and can shift between requests). Not a\
                      \ cursor: calling pull() again already advances through the\
                      \ corpus for free, since already-pulled jobs are excluded.\n"
        '401':
          description: Unauthorized (Missing or Invalid JWT)
        '403':
          description: Forbidden (Daily free quota exhausted)
        '409':
          description: Conflict (lost a race with a concurrent pull request from the
            same user); safe to retry
  /v1/me:
    delete:
      summary: Delete Account
      description: "Self-service account deletion. Erases this account's own row (email,\
        \ IP, credit/stat history) and its own activity records (jobs pulled, reports\
        \ filed). Jobs this account contributed are NOT deleted \u2014 they're a shared\
        \ resource other users may already rely on; attribution is detached instead\
        \ (`scraped_by_user_id` becomes null). Immediately invalidates every JWT for\
        \ the account.\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - confirm
              properties:
                confirm:
                  type: boolean
                  description: "Must be `true` \u2014 a bare DELETE with no body is\
                    \ rejected, to guard against an accidental call."
      responses:
        '200':
          description: Account deleted
        '400':
          description: Missing confirm:true
        '401':
          description: Unauthorized (Missing or Invalid JWT)
  /v1/me/export:
    get:
      summary: Export Account Data
      description: 'Self-service data export: this account''s own profile, jobs it
        contributed, jobs it pulled, and reports it filed. Does not include community
        data other users generated (e.g. reports filed against this account''s jobs
        by other users).

        '
      responses:
        '200':
          description: Export retrieved
        '401':
          description: Unauthorized (Missing or Invalid JWT)
  /v1/jobs/report:
    post:
      summary: Report a Job
      description: 'Community quality control. Report a job as fake, dead, or spam.
        You may only report a job you have actually pulled, and only once per job.
        Once 3 distinct users report the same job it is flagged and withdrawn from
        circulation, the contributor loses the credit earned for it and receives a
        strike; at 5 strikes the contributor is automatically banned.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - job_id
              properties:
                job_id:
                  type: string
                  format: uuid
                reason:
                  type: string
                  example: dead_link
      responses:
        '200':
          description: Report recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  report_count:
                    type: integer
                    description: Distinct users who have now reported this job.
                  reports_needed_to_flag:
                    type: integer
                  job_flagged:
                    type: boolean
                    description: True if this report crossed the threshold and withdrew
                      the job.
                  contributor_banned:
                    type: boolean
                  message:
                    type: string
                    description: Present when this user had already reported the job.
        '400':
          description: Missing or invalid job_id, or malformed JSON body
        '401':
          description: Unauthorized (Missing or Invalid JWT)
        '403':
          description: Forbidden (you can only report a job you have pulled)
        '404':
          description: Job not found
  /v1/admin/jobs/flagged:
    get:
      summary: '[Admin] List Flagged Jobs'
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: Flagged jobs
        '401':
          description: Unauthorized (Missing or Invalid JWT)
        '404':
          description: Not an admin account
  /v1/admin/jobs/{id}/unflag:
    post:
      summary: '[Admin] Un-flag a Job'
      description: Restores a job to circulation, e.g. after review finds a report
        was a false positive.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Job un-flagged
        '401':
          description: Unauthorized (Missing or Invalid JWT)
        '404':
          description: Not an admin account, or job not found
  /v1/admin/jobs/{id}/reports:
    get:
      summary: '[Admin] Who Reported a Job, and Why'
      description: 'Works for any job, not just already-flagged ones, so a borderline
        case can be reviewed before it hits the auto-flag threshold.

        '
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Reports for this job (possibly empty)
        '401':
          description: Unauthorized (Missing or Invalid JWT)
        '404':
          description: Not an admin account, or job not found
  /v1/admin/audit-log:
    get:
      summary: '[Admin] Audit Log'
      description: "Every write made through /v1/admin/* \u2014 who did what, when."
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: Recent admin actions, newest first
        '401':
          description: Unauthorized (Missing or Invalid JWT)
        '404':
          description: Not an admin account
  /v1/admin/stats:
    get:
      summary: '[Admin] Aggregate System Metrics'
      description: Total users/jobs/reports/flags/stale jobs, plus the top 10 contributors
        by jobs pushed.
      responses:
        '200':
          description: Aggregate stats
        '401':
          description: Unauthorized (Missing or Invalid JWT)
        '404':
          description: Not an admin account
  /health:
    get:
      summary: Health Check
      description: Unauthenticated liveness probe; also verifies the database connection.
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  database:
                    type: string
                    example: ok
        '503':
          description: Database unreachable
